#combo-list li:hover {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

#combo-list li:last-of-type {
    border-bottom: none !important;
}

.toggle-hover .toggle-hover-show {
    display: none;
}

.toggle-hover:hover .toggle-hover-show {
    display: block;
}

.toggle-hover:hover .toggle-hover-hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}